[Unit]
Description=toolsheld
After=network.target
Requires=network.target

[Service]
Type=simple
User=toolshed
Group=toolshed
Restart=always
RestartSec=5s
ExecStart=/app/toolshed/toolshed --listen ":8081"

[Install]
WantedBy=multi-user.target
